# Zoo Animal Classification

in this project we will classify the zoo animals on the basis of there characterstics. this dataset has 101 animals data. which do described by different traits. also there are seven main class of animals such as Mammal, Reptile, Fish, Bird, Amphibian, Invertibrate and Bug.
The usecase of dataset is to predict the classification of the animals based on the characterstics available and variables. it is one of the best dataset to be used in Machine Learning.

In [2]:
import pandas as pd
import numpy as np
import os
print(os.listdir('./zoo_animal'))
import matplotlib.pyplot

['zoo.csv', 'class.csv']

In [3]:
df= pd.read_csv('./zoo_animal/zoo.csv')

# What is the Structure of Dataset?

In [4]:
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

# What is/are some useful features in the dataset?

Our basic aim is to classifiy zoo animals on the basis of characterstics. so here is the dataset. you will find following coloumns that are neccessary to classifiy. Several coloums are needed.

In [6]:
Characterstics=list(df.columns)
print(Characterstics)

['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'class_type']

In [7]:
Characterstics.remove('animal_name')
Characterstics.remove('class_type')

In [8]:
print(Characterstics)

['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']

In [11]:
X_data=df[Characterstics].values.astype(np.float32)
Y_data=df.class_type
print(X_data.shape)
print(Y_data.shape)

(101, 16)
(101,)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data, test_size = 0.2, random_state = 0)

In [14]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(80, 16)
(80,)
(21, 16)
(21,)

Sklearn has a predefined libraries which do have several linear and multilinear classification algorithms. in this project i will be using the linear regression as well as SVM to test and train our dataset. you can use any algorithms of your choice.

In [15]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(X_train, Y_train)
print("training accuracy :", LR.score(X_train, Y_train))
print("testing accuracy :", LR.score(X_test, Y_test))

training accuracy : 0.9875
testing accuracy : 1.0

In [16]:
from sklearn.svm import SVC

SVC = SVC(kernel = "rbf", C = 1.0, gamma = 0.1)
SVC.fit(X_train, Y_train)
print("training accuracy :", SVC.score(X_train, Y_train))
print("testing accuracy :", SVC.score(X_test, Y_test))

training accuracy : 0.9875
testing accuracy : 1.0

# Conclusion

 In this project you must have learned how to use logistics regression and svm for classifying the zoo animals on the basis of the characterstics of the zoo animals.