# Zoo Animal Classification

in this project we will classify the zoo animals on the basis of there characterstics. this dataset has 101 animals data. which do described by different traits. also there are seven main class of animals such as Mammal, Reptile, Fish, Bird, Amphibian, Invertibrate and Bug.
The usecase of dataset is to predict the classification of the animals based on the characterstics available and variables. it is one of the best dataset to be used in Machine Learning.

In [2]:
import pandas as pd
import numpy as np
import os
print(os.listdir('./zoo_animal'))
import matplotlib.pyplot

['zoo.csv', 'class.csv']

In [3]:
df= pd.read_csv('./zoo_animal/zoo.csv')

# What is the Structure of Dataset?

In [4]:
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

# What is/are some useful features in the dataset?

Our basic aim is to classifiy zoo animals on the basis of characterstics. so here is the dataset. you will find following coloumns that are neccessary to classifiy. Several coloums are needed.

In [1]:
#Characterstics=list(df.columns)
#print(Characterstics)
#here you need to list down all the coloumns and select only those columns which are necessary for you to analyse the data.

In [7]:
#Characterstics.remove('animal_name')
#Characterstics.remove('class_type')
#you need to remove all the unecessary columns which are not needed for the classification. Further you can print the columns.

In [8]:
print(Characterstics)

['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']

In [2]:

#print(X_data.shape)
#print(Y_data.shape)
#you need to split data into X and Y and look which all the fields would be X and which all fields would be y.
#so as you can see here I have taken the Characterstics is X and class type as Y.

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
#once you import this library you need to split the data according to your needs.

In [6]:
#print(X_train.shape)
#print(Y_train.shape)
#print(X_test.shape)
#print(Y_test.shape)

Sklearn has a predefined libraries which do have several linear and multilinear classification algorithms. in this project i will be using the linear regression as well as SVM to test and train our dataset. you can use any algorithms of your choice.

In [15]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
#based on your interest you can apply different algorithms to get the results.here i have used the logisticRegression.

training accuracy : 0.9875
testing accuracy : 1.0

In [8]:
#from sklearn.svm import SVC

#SVC = SVC(kernel = "rbf", C = 1.0, gamma = 0.1)
#SVC.fit(X_train, Y_train)
#based on your interest you can apply different algorithms to get the results.here i have used the logisticRegression.

# Conclusion

 In this project you must have learned how to use logistics regression and svm for classifying the zoo animals on the basis of the characterstics of the zoo animals.